In [57]:
import pandas as pd
import numpy as np

In [58]:
#任务1将列表转化为Nunpy数组
import numpy as np
data0 = [2, 4, 6.5, 8]
arr0 = np.array(data0)

In [59]:
#pandas中的Series数据类型
s=pd.Series(data=[100,'a',{'dic1':5}],
            index=pd.Index(['id1',20,'third'],name='my_idx'),
            dtype='object',
            name='my_name')

In [60]:
s2=pd.Series([1,2,3,4])

In [61]:
s2.index.value_counts()

0    1
1    1
2    1
3    1
Name: count, dtype: int64

In [62]:
type(s2.values[0])

numpy.int64

In [63]:
s2.size

4

In [64]:
s2.shape

(4,)

In [65]:
#任务3：创建DataFrame类型的数据，并获取其索引、值及表大小
d={
    "one":pd.Series([1.0,2.0,3.0],index=["a","b","c"]),
    "two":pd.Series([1.0,2.0,3.0,4.0],index=["a","b","c","d",])}
df=pd.DataFrame(d)

In [66]:
d1={
    "作者":pd.Series(['余华','莫言','priest']),
    "作品":pd.Series(['活着','生死疲劳','杀破狼']),
    "价格":pd.Series(['23','45','108'])
    }
df2=pd.DataFrame(d1)

In [67]:
df2.index.values

array([0, 1, 2], dtype=int64)

In [68]:
df2.shape

(3, 3)

In [69]:
df2.size

9

In [70]:
贵州茅台原始数据=pd.read_csv(R'data\600519.csv')

In [71]:
贵州茅台原始数据

,day,STOCK_CODE,open,close,maximum,minimum,volume,TURNOVER
0,2001-08-27,6005191,34.51,35.55,37.78,32.85,406318,1410347008
1,2001-08-28,6005191,34.99,36.86,37.00,34.61,129647,463463008
2,2001-08-29,6005191,36.98,36.38,37.00,36.10,53252,194689000
3,2001-08-30,6005191,36.28,37.10,37.51,36.00,48013,177558000
4,2001-08-31,6005191,37.15,37.01,37.62,36.80,23231,86231000
...,...,...,...,...,...,...,...,...
4089,2018-10-29,6005191,549.09,549.09,549.09,549.09,49076,2694714080
4090,2018-10-30,6005191,510.00,524.00,543.00,509.02,204397,10663392512
4091,2018-10-31,6005191,527.00,548.90,555.00,522.00,96885,5239853056
4092,2018-11-01,6005191,555.00,563.00,585.50,551.25,98107,5581027328
4093,2018-11-02,6005191,585.00,599.90,600.00,572.24,89157,5227695104

In [80]:
#按列查询数据
贵州茅台原始数据['TURNOVER']

0        1410347008
1         463463008
2         194689000
3         177558000
4          86231000
           ...
4089     2694714080
4090    10663392512
4091     5239853056
4092     5581027328
4093     5227695104
Name: TURNOVER, Length: 4094, dtype: int64

In [82]:
#按照行索引
贵州茅台原始数据.loc[0]

day           2001-08-27
STOCK_CODE       6005191
open               34.51
close              35.55
maximum            37.78
minimum            32.85
volume            406318
TURNOVER      1410347008
Name: 0, dtype: object

In [ ]:
贵州茅台=贵州茅台原始数据.set_index('day')

In [74]:
#loc索引器
#单个元素
贵州茅台.loc['2001-08-27']

STOCK_CODE    6.005191e+06
open          3.451000e+01
close         3.555000e+01
maximum       3.778000e+01
minimum       3.285000e+01
volume        4.063180e+05
TURNOVER      1.410347e+09
Name: 2001-08-27, dtype: float64

In [75]:
贵州茅台.loc['2001-08-27','close']

35.55

In [76]:
贵州茅台.loc['2001-08-27',['open','close']]

open     34.51
close    35.55
Name: 2001-08-27, dtype: float64