In [7]:
import mytools
import pandas as pd

In [8]:
数据表=mytools.读取SPSS数据文件(R'data\identity.sav')

In [9]:
import pandas as pd

# 创建一个示例 DataFrame
data = {
    'Column1': [1, None, 3, None],
    'Column2': [4, None, None, None],
    'Column3': [7, 8, 9, None],
    'Column4': [7, 8, 9, None]
}
df = pd.DataFrame(data)

In [10]:

df[df.isnull().T.any()]

   Column1  Column2  Column3  Column4
1      NaN      NaN      8.0      8.0
2      3.0      NaN      9.0      9.0
3      NaN      NaN      NaN      NaN

In [11]:
# 删除所有列都是空值的行
df.dropna(how='any', inplace=True)
df

   Column1  Column2  Column3  Column4
0      1.0      4.0      7.0      7.0

In [13]:
#查找空白值
数据表.isnull().T.any()

0      False
1      False
2      False
3      False
4      False
       ...
900     True
901     True
902     True
903     True
904     True
Length: 905, dtype: bool

In [14]:
#填充空白值
数据表['政治面貌'].fillna('群众',inplace=True)

In [16]:
# 删除空白值
# 数据表.dropna(thresh=4, inplace=True)
# 数据表.dropna(how='any', inplace=True)

In [15]:
数据表['年级'].value_counts()

年级
大一    307
大二    278
大三    172
大四     94
预科     14
Name: count, dtype: int64

In [17]:
import pandas as pd

# 示例数据
data = {'value': [10, 12, 12, 13, 12, 11, 10, 29, 30, 11, 10, 100]}
df = pd.DataFrame(data)

# 计算均值和标准差
mean = df['value'].mean()
std = df['value'].std()
condition1 = (df['value'] < mean - 3 * std) | (df['value'] > mean + 3 * std)
# 识别异常值
outliers1 = df[condition1]
print('使用标准差判断的异常值为：',outliers1)

# 计算 IQR
Q1 = df['value'].quantile(0.25)
Q3 = df['value'].quantile(0.75)
IQR = Q3 - Q1

# 识别异常值
outliers2 = df[(df['value'] < Q1 - 1.5 * IQR) | (df['value'] > Q3 + 1.5 * IQR)]
print('使用IQR判断的异常值为：',outliers2)

使用标准差判断的异常值为：     value
11    100
使用IQR判断的异常值为：     value
7      29
8      30
11    100

In [18]:
# 查找重复值
数据表.duplicated(subset=['问卷编号'],keep="last")

0      False
1      False
2      False
3      False
4      False
       ...
900     True
901     True
902     True
903     True
904    False
Length: 905, dtype: bool

In [ ]:
# 删除重复值
数据表.drop_duplicates(subset=['问卷编号'],keep='first',inplace=True)