In [10]:
#导入各种包
import pandas as pd
from pyreadstat import pyreadstat
import matplotlib.pyplot as plt

In [11]:
#打开数据文件
df1=pd.read_csv(R'data\类别变量练习数据.csv',encoding='GBK')

In [12]:
#计算tauy
import mytools  # 导入mytools模块  
  
# 计算tauy  
tau_y = mytools.goodmanKruska_tau_y(df1,'父亲职业重新编码','母亲职业重新编码')  
tau_y

c:\Users\张雨婷\Desktop\hello\mytools.py:79: RuntimeWarning: invalid value encountered in scalar divide
  E_2 += ((F_x - f) * f) / F_x
c:\Users\张雨婷\Desktop\hello\mytools.py:79: RuntimeWarning: divide by zero encountered in scalar divide
  E_2 += ((F_x - f) * f) / F_x

nan

In [13]:
#评价tauy
mytools.相关系数强弱判断(tau_y)

'极弱相关或无相关'

In [15]:
mytools.制作交叉表(df1,'父亲职业重新编码','母亲职业重新编码')

母亲职业重新编码,个体户,事业单位,公务员,国企,家庭主父母,无,民企,All
父亲职业重新编码,,,,,,,,
个体户,0.571429,0.000000,0.0625,0.000000,0.090909,0.5,0.142857,0.150943
事业单位,0.000000,0.142857,0.0625,0.000000,0.000000,0.0,0.000000,0.037736
公务员,0.142857,0.714286,0.6875,0.666667,0.000000,0.0,0.428571,0.415094
国企,0.142857,0.000000,0.0000,0.333333,0.090909,0.5,0.142857,0.094340
家庭主父母,0.000000,0.000000,0.0625,0.000000,0.181818,0.0,0.000000,0.056604
民企,0.142857,0.142857,0.1250,0.000000,0.636364,0.0,0.285714,0.245283